@import "~bootstrap/scss/bootstrap";

.bg-gray{
  background-color: $gray-700;
}
.bg-lightSalmon{
  background-color: lightsalmon;
}

.only-this-svg svg {width: 90%; height: auto;}
@media only screen and (min-width: 1200px) {
  .only-this-svg svg {width: 50%; height: auto;}
}