<h1>Predictions</h1>
<%= react_component("PredictionsTable", {}) %>
<br>
<p><%= button_to 'New Prediction', new_prediction_path, method: "get", class: "btn-primary" %></p>
<p><%= button_to 'Calibration', requests_path, method: "get", class: "btn-primary" %></p>
<p><%= button_to 'Back', root_path, method: "get", class: "btn-secondary" %></p>

