<h1><u>Welcome to Bayesian Predicitons!</u></h1>

<div class="my-2 bg-gray rounded p-3">
  <h2>Mission</h2>
  <p>This Website was created for the purpose of evaluating the accuracy of your predictions to align yourself closer with reality.</p>
</div>

<hr class="border border-light border-1"></hr>

<div class="my-2 bg-gray rounded p-3">
  <h2>Instructions</h2>
  <p>
    Create a new account or login to your existing account.
    If you don't want to create an account, you can use this guest account: 
    <p>Email: guest@user.com</p> 
    <p>Password: guestuser</p>
  </p>
  <p>You will be redirected to your dashboard where you can see your predictions or change your account settings.</p>
  <p>With the prediction table, you are able to filter your predictions or create new ones.</p>
  <p>
    If you would like to calibrate the accuracy of your predictions, click the "Calibration" button which will lead you to the Calibration page.
    There you can click on Calibrate (You need at least 10 resolved predictions.) or see your previous calibrations.
  </p>
  <p>After you click calibrate, you will receive the Posterior Predictive of the Bayesian Logistic Model made by Jan Christian Refsgaard.</p>
</div>

<hr class="border border-light border-1"></hr>

<div class="my-2 bg-gray rounded p-3">
  <h6>For further information check out the <a class="text-white" target="_blank" rel="noopener noreferrer" href="https://github.com/JanTrooper2/BayesianPredictions/blob/main/README.md">Documentation on Github</a>.</h6>
</div>