<h1><u>Welcome to Bayesian Predicitons!</u></h1>
<h2>Mission</h2>
<p>This Website was created for the purpose of evaluating the accuracy of your predictions to align yourself closer with reality.</p>


<h2>Instructions</h2>
<ul>
  <li>You need to create a user account in order to use this website. (Currently there is no Email verification.)</li>
  <li>Once you are logged in you will see all the predictions you made that are unresolved.</li>
  <li>You can create new ones, update your existing ones or delete them.</li>
  <li>You can click on expired predictions to see all your resolved predictions.</li>
  <li>You can evaluate all your resolved predictions by clicking Calibrate. (You need at least 10 resolved predictions.)</li>
  <li>You can make a trace request or see your previously requested evaluations. </li>
  <li>You will receive the Posterior Predictive of the Bayesian Logistic Model made by Jan Christian Refsgaard.</li>
  <li>The black line is the perfect predictor, the blue line shows your position.</li>
</ul>


<h2>What are you waiting for? Join now: <%= link_to "Sign Up", new_user_registration_path, class: "text-white btn btn-success" %></h2>
<h3>Or Sign In here if you already have an account: <%= link_to "Login", new_user_session_path, class: "text-white btn btn-info" %></h3>