<h1><u>Welcome to Bayesian Predicitons!</u></h1>

<div class="my-2 bg-gray rounded p-3">
  <h2>Mission</h2>
  <p>This Website was created for the purpose of evaluating the accuracy of your predictions to align yourself closer with reality.</p>
</div>

<hr class="border border-light border-1"></hr>

<div class="my-2 bg-gray rounded p-3">
  <h2>Instructions</h2>
  <p>You need to create a user account in order to use this website. (Currently there is no Email verification.)</p>
  <p>Once you are logged in you will see all the predictions you made that are unresolved.</p>
  <p>You can create new ones, update your existing ones or delete them.</p>
  <p>You can click on expired predictions to see all your resolved predictions.</p>
  <p>You can evaluate all your resolved predictions by clicking Calibrate. (You need at least 10 resolved predictions.)</p>
  <p>You will receive the Posterior Predictive of the Bayesian Logistic Model made by Jan Christian Refsgaard.</p>
</div>

<hr class="border border-light border-1"></hr>

<div class="my-2 bg-gray rounded p-3">
  <h6>For further information check out the <a class="text-white" target="_blank" rel="noopener noreferrer" href="https://github.com/JanTrooper2/BayesianPredictions/blob/main/README.md">Documentation on Github</a>.</h6>
</div>