<% @users.each do |user| %>
  <p>
    <%= user.id%>:
    <%= user.email%>
    <%= link_to "Avatar", url_for(user.avatar) if user.avatar.attached?%>
    <%#= image_tag user.avatar if user.avatar.attached?%>
  </p>
<% end %>
<p><%= link_to 'Back', predictions_path %></p>
