<br>
<% @plots.each_with_index do |plot, index| %>
  <%= link_to "Show #{index + 1}, Date: #{plot.created_at}", request_path(plot) %><br>
<% end %><br>
<%= react_component("Calibration", {}) %>
<p><%= button_to 'Back', predictions_path, method: "get", class: "btn btn-secondary" %></p>
