<br>
<% @plots.each_with_index do |plot, index| %>
  <%= link_to "Show #{index + 1}", request_path(plot) %><br>
<% end %><br>
<p><%= link_to 'Make Trace Request', new_request_path %></p>
<p><%= link_to 'Back', predictions_path %></p>
