<div class="d-flex flex-column">
  <% flash.each do |type, msg| %>
    <div class="alert alert-primary" role="alert">
      <%= msg %>
    </div>
  <% end %>
  <% if !@plots[0].nil? %>
    <div class="py-1 mx-auto">
      <%= button_to "Show Latest Calibration\n(Created at: #{@plots.last.created_at.to_date})", request_path(@plots.last), method: "get", class: "btn btn-success"  %>
    </div>
  <% end %>
  <%= react_component("Calibration", {dates: @dates, plots: @ids, categories: current_user.predictions.select(:category).distinct.map{|pred| pred.category}.compact.reject(&:empty?)}) %>
  <div class="py-1 mx-auto">
    <%= button_to 'Back', predictions_path, method: "get", class: "btn btn-secondary" %>
  </div>
</div>
